AddDefaultCharset UTF-8

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php